<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" >
    <link rel="stylesheet" href="/static/css/style.css">

    <title>Title</title>
</head>
<body>
    <div class="container">
        <h1>Database Tables</h1>
        <div class="table-name">
            <h3>Users</h3>
        </div>
        <div class="table-name">
            <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="collapse" data-target="#collapse-users">
                Hide/Show
            </button>
        </div>
        <table class="table" id="collapse-users">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">User</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for id, user, email in users %}
                <tr>
                    <th scope="row">{{ id }}</th>
                    <td scope="row">{{ user }}</td>
                    <td scope="row">{{ email }}</td>
                    <td>
                        <form action="update_user/{{ id }}/">
                            <input type="submit" class="btn btn-outline-dark btn-sm" value="Update">
                        </form>
                        <form action="delete_user/{{ id }}/">
                            <input type="submit" class="btn btn-outline-dark btn-sm" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <form action="create_user/">
                            <input type="submit" class="btn btn-outline-dark" value="Create">
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="container">
        <div class="table-name">
            <h3>Cities</h3>
        </div>
        <div class="table-name">
            <button type="button" class="btn btn-outline-dark  btn-sm" data-toggle="collapse" data-target="#collapse-cities">
                Hide/Show
            </button>
        </div>
        <table class="table collapse in" id="collapse-cities">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">City</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for id, city in cities %}
                <tr>
                    <th scope="row">{{ id }}</th>
                    <td scope="row">{{ city }}</td>
                    <td>
                        <form action="update_city/{{ id }}/">
                            <input type="submit" class="btn btn-outline-dark btn-sm" value="Update">
                        </form>
                        <form action="delete_city/{{ id }}/">
                            <input type="submit" class="btn btn-outline-dark btn-sm" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <form action="create_city/">
                            <input type="submit" class="btn btn-outline-dark" value="Create">
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="container">
        <div class="table-name">
            <h3>Topics</h3>
        </div>
        <div class="table-name">
            <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="collapse" data-target="#collapse-topics">
                Hide/Show
            </button>
        </div>

        <table class="table collapse in" id="collapse-topics">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Topics</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for id, topic in topics %}
                <tr>
                    <th scope="row">{{ id }}</th>
                    <td scope="row">{{ topic }}</td>
                    <td>
                        <form action="update_topic/{{ id }}/">
                            <input type="submit" class="btn btn-outline-dark btn-sm" value="Update">
                        </form>
                        <form action="delete_topic/{{ id }}/">
                            <input type="submit" class="btn btn-outline-dark btn-sm" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <form action="create_topic/">
                            <input type="submit" class="btn btn-outline-dark" value="Create">
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="container">
        <div class="table-name">
            <h3>Events</h3>
        </div>
        <div class="table-name">
            <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="collapse" data-target="#collapse-events">
                Hide/Show
            </button>
        </div>
        <table class="table collapse in" id="collapse-events">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Event</th>
                    <th scope="col">Description</th>
                    <th scope="col">Start at</th>
                    <th scope="col">End at</th>
                    <th scope="col">Topic id</th>
                    <th scope="col">City id</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for id, event, description, start_at, end_at, topic_id, city_id in events %}
                {% if description | length > 45 %}
                {% set description = description[0:40] + "..." %}
                {% endif %}
                <tr>
                    <th scope="row">{{ id }}</th>
                    <td scope="row">{{ event }}</td>
                    <td scope="row">{{ description }}</td>
                    <td scope="row">{{ start_at }}</td>
                    <td scope="row">{{ end_at }}</td>
                    <td scope="row">{{ topic_id }}</td>
                    <td scope="row">{{ city_id }}</td>
                    <td>
                        <form action="update_event/{{ id }}/">
                            <input type="submit" class="btn btn-outline-dark btn-sm" value="Update">
                        </form>
                        <form action="delete_event/{{ id }}/">
                            <input type="submit" class="btn btn-outline-dark btn-sm" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">
                        <form action="create_event/">
                            <input type="submit" class="btn btn-outline-dark" value="Create">
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="container">
        <div class="table-name">
            <h3>Saved Filters</h3>
        </div>
        <div class="table-name">
            <button type="button" class="btn btn-outline-dark btn-sm" data-toggle="collapse" data-target="#collapse-saved-filters">
                Hide/Show
            </button>
        </div>
        <table class="table collapse in" id="collapse-saved-filters">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">User_id</th>
                    <th scope="col">Start from</th>
                    <th scope="col">Start to</th>
                    <th scope="col">City id</th>
                    <th scope="col">Topic id</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for id, user_id, start_from, start_to, city_id, topic_id in saved_filters %}
                <tr>
                    <th scope="row">{{ id }}</th>
                    <td scope="row">{{ user_id }}</td>
                    <td scope="row">{{ start_from }}</td>
                    <td scope="row">{{ start_to }}</td>
                    <td scope="row">{{ city_id }}</td>
                    <td scope="row">{{ topic_id }}</td>
                    <td>
                        <form action="update_saved_filter/{{ id }}/">
                            <input type="submit" class="btn btn-outline-dark btn-sm" value="Update">
                        </form>
                        <form action="delete_saved_filter/{{ id }}/">
                            <input type="submit" class="btn btn-outline-dark btn-sm" value="Delete">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <form action="create_saved_filter/">
                            <input type="submit" class="btn btn-outline-dark" value="Create">
                        </form>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>