<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">

        <title>Create/Update Event</title>

        <link rel="stylesheet" href="/static/css/bootstrap.min.css" >
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>

        {% if data %}

        {% set header = "Event Updating" %}
        {% set name = data[1] %}
        {% set description = data[2] %}
        {% set start_at = data[3] %}
        {% set end_at = data[4] %}
        {% set city_id = cities_ids.pop(cities_ids.index(data[5])) %}
        {% set submit = "Update" %}

        {% else %}

        {% set header = "Event Creation" %}
        {% set name = "" %}
        {% set description = "" %}
        {% set start_at = "" %}
        {% set end_at = "" %}
        {% set city_id = "" %}
        {% set city_id = cities_ids.pop(0) %}
        {% set submit = "Create" %}

        {% endif %}

        <h1>{{ header }}</h1>

        <form class="model-form" method="POST">
            <div class="form-group">
                <label for="name">Event name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Event name" value="{{ name }}">
            </div>
            <div class="form-group">
                <label for="description">Event Description</label>
                <textarea class="form-control" id="description" name="description" rows="3">{{ description }}</textarea>
            </div>

            <div class="form-group">
                <label for="start_at">Start at</label>
                <input type="text" class="form-control" id="start_at" name="start_at" placeholder="%Y-%m-%d" value="{{ start_at }}">
            </div>
            <div class="form-group">
                <label for="end_at">End at</label>
                <input type="text" class="form-control" id="end_at" name="end_at" placeholder="%Y-%m-%d" value="{{ end_at }}">
            </div>

            <div class="form-group">
                <label for="city_id">City id</label>
                <select class="form-control" id="city_id" name="city_select">

                    <option selected="selected">{{ city_id }}</option>
                {% for city_id in cities_ids %}
                    <option>{{ city_id }}</option>
                {% endfor %}

                </select>
            </div>

            <div class="confirm-btns">
                <input type="submit" class="btn btn-outline-dark" name="submit-btn" value="{{ submit }}">
                <input type="submit" class="btn btn-outline-dark" name="submit-btn" value="Cancel">
            </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>