<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Event page</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">All events</a>
            {% if not user_name %}
            <div class="loginsignup">
                <form action="{{ url_for('auth.login') }}">
                    <input type="submit" class="btn btn-light btn-outline-dark" value="Login">
                </form>
                <form action="{{ url_for('auth.signup') }}">
                    <input type="submit" class="btn btn-light btn-outline-dark" value="SignUp">
                </form>
            </div>
            {% else %}
            <div class="loginsignup">
                <span class="badge-dark username">{{ user_name }}</span>
                <form action="{{ url_for('auth.logout') }}">
                    <input type="submit" class="btn btn-light btn-outline-dark" value="Logout">
                </form>
            </div>
            {% endif %}
        </div>
    </nav>
    <div class="container">
        <div>
            <h1>{{ name }}</h1>
            <p class="topic"> <b>Topic:</b> {{ topic_name }}</p>
            <p class="city"><b>City:</b> {{ city_name }}</p>
            <h2 class="description">Description</h2>
            <p class="event-description">{{ description }}</p>
            <p class="start"><b>Start at: </b>{{ start_at }}</p>
            <p class="end"><b>End at: </b>{{ end_at }}</p>
            <h3 class="comments">Commentaries</h3>
        </div>


    <div class="container">

        {% if not user_name %}
        <p class="info">Log in to view and write comments</p>
        {% endif %}

        {% if comments%}
        {% for comment in comments %}
        {% set author = comment[0] %}
        {% set text = comment[2].comment %}
        <div class="container textarea comment">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ author }}</h5>
                    <p class="card-text">{{ text }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}

        {% if user_name%}
        <form action="{{ url_for('main.event_page', event_id=event_id) }}" method="POST">
            <div class="container textarea">
                <div class="form-group">
                    <textarea class="form-control" id="comment_area" name="comment_area" rows="3" placeholder="Enter your comment"></textarea>
                </div>
            </div>

            <div class="send-btn">
                <input type="submit" class="btn btn-outline-dark" name="submit-btn" value="Send Comment">
            </div>
        </form>

        {% endif %}

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>