<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../static/css/style.css">

    <title>Index page</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/">All events</a>
            <form class="d-flex">
                <button class="btn btn-light btn-outline-dark" type="submit">Login</button>
                <button class="btn btn-light btn-outline-dark" type="submit">Register</button>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="saved-filters">
            <form>
                <div class="form-row">
                    <div class="col">
                        <div class="filter-set">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <button class="btn-sm btn-light btn-outline-dark btn-block" type="submit">FilterSet 2</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="filter-set">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <button class="btn-sm btn-light btn-outline-dark btn-block" type="submit">FilterSet 2</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="filter-set">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <button class="btn-sm btn-light btn-outline-dark btn-block" type="submit">FilterSet 2</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="filter-set">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <button class="btn-sm btn-light btn-outline-dark btn-block" type="submit">FilterSet 2</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="filter-set">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <button class="btn-sm btn-light btn-outline-dark btn-block" type="submit">FilterSet 2</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="filter-set">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <button class="btn-sm btn-light btn-outline-dark btn-block" type="submit">FilterSet 2</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="container">

        {% set topic_name = topics_names.pop(0) %}
        {% set city_name = cities_names.pop(0) %}

        <div class="filters-form">
            <form>
                <div class="form-row">
                    <div class="col">
                        <select class="form-control" id="city_name" name="city_select">

                            <option selected="selected">{{ city_name }}</option>
                        {% for city_name in cities_names %}
                            <option>{{ city_name }}</option>
                        {% endfor %}

                        </select>
                    </div>
                    <div class="col">
                        <select class="form-control" id="topic_name" name="topic_select">

                            <option selected="selected">{{ topic_name }}</option>
                        {% for topic_name in topics_names %}
                            <option>{{ topic_name }}</option>
                        {% endfor %}

                        </select>
                    </div>

                    <div class="col">
                        <input type="text" class="form-control" id="start_from" name="start_to" placeholder="Start from YYYY-m-d H:M" value="{{ start_from }}">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" id="start_to" name="start_to" placeholder="Start to YYYY-m-d H:M" value="{{ start_to }}">
                    </div>

                    <div class="col">
                        <button class="btn btn-light btn-outline-dark btn-block" type="submit">Search</button>
                        <button class="btn btn-light btn-outline-dark btn-block" type="submit">Save Filters</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="content">
            {% for idx in range(events | length - 1) %}

            {% set event_name0 = events[idx][1] %}
            {% set topic_name0 = events[idx][5] %}
            {% set city_name0 = events[idx][6] %}
            {% set description0 = events[idx][2] %}
            {% set start_at0 = events[idx][3] %}
            {% set end_at0 = events[idx][4] %}

            {% set event_name1 = events[idx+1][1] %}
            {% set topic_name1 = events[idx+1][5] %}
            {% set city_name1 = events[idx+1][6] %}
            {% set description1 = events[idx+1][2] %}
            {% set start_at1 = events[idx+1][3] %}
            {% set end_at1 = events[idx+1][4] %}

            {% if idx % 2 == 0 %}
                <div class="row">
                    <div class="col-sm">
                        <div class="card text-left mb-3 border-dark" style="max-width: 540px; min-width: 400px;">
                            <div class="row no-gutters">
                                <div class="card-body">
                                    <h5 class="card-title">{{ event_name0 }}</h5>
                                    <p class="card-text"><small class="text-muted">City: {{ city_name0 }} Topic: {{ topic_name0 }}</small></p>
                                    <p class="card-text">{{ description0 }}</p>
                                    <p class="card-text"><small class="text-muted">Start at: {{ start_at0 }} End at: {{ end_at0 }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="card text-left mb-3 border-dark" style="max-width: 540px; min-width: 400px;">
                            <div class="row no-gutters">
                                <div class="card-body">
                                    <h5 class="card-title">{{ event_name1 }}</h5>
                                    <p class="card-text"><small class="text-muted">City: {{ city_name1 }} Topic: {{ topic_name1 }}</small></p>
                                    <p class="card-text">{{ description1 }}</p>
                                    <p class="card-text"><small class="text-muted">Start at: {{ start_at1 }} End at: {{ end_at1 }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if events | length % 2 != 0 and idx == events | length - 2%}
                <div class="row">
                    <div class="col-sm">
                        <div class="card text-left mb-3 border-dark" style="max-width: 540px; min-width: 400px;">
                            <div class="row no-gutters">
                                <div class="card-body">
                                    <h5 class="card-title">{{ event_name1 }}</h5>
                                    <p class="card-text"><small class="text-muted">City: {{ city_name1 }} Topic: {{ topic_name1 }}</small></p>
                                    <p class="card-text">{{ description1 }}</p>
                                    <p class="card-text"><small class="text-muted">Start at: {{ start_at1 }} End at: {{ end_at1 }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>
</html>