<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">

        <title>Create/Update Saved Filter</title>

        <link rel="stylesheet" href="/static/css/bootstrap.min.css" >
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <h1>Saved Filter creation</h1>

        <form class="user-create">
            <div class="form-group">
                <label for="user_id">User id</label>
                <select class="form-control" id="user_id">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            <div class="form-group">
                <label for="start_from">Start from</label>
                <input type="text" class="form-control" id="start_from" placeholder="%Y-%m-%d">
            </div>
            <div class="form-group">
                <label for="start_to">Start to</label>
                <input type="text" class="form-control" id="start_to" placeholder="%Y-%m-%d">
            </div>

            <div class="form-group">
                <label for="city_id">City id</label>
                <select class="form-control" id="city_id">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            <div class="form-group">
                <label for="topic_id">Topic id</label>
                <select class="form-control" id="topic_id">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>

            <div class="confirm-btns">
                <input type="submit" class="btn btn-outline-dark" name="submit-btn" value="Create">
                <input type="submit" class="btn btn-outline-dark" name="submit-btn" value="Cancel">
            </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>